.contenedor {
  background-color: seagreen;
  border: solid thick darkgreen;
  width: 70%;
  height: 60%;
  border-radius: 1rem;
  text-align: center;
  margin: auto;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

h1 {
  text-align: center;
}

.btn-dados {
  border-radius: 1rem;
  width: 80px;
  height: 80px;
  margin-bottom: 2rem;
  border: solid thick black;
  background-color: beige;
}
